# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 8

print(number)

8

##### Assinging float

In [4]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [11]:
result_diff = num2 - num1

result_diff -= 1
print(result_diff - 1)

1.4000000000000004

##### Multiplication

In [13]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [17]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [21]:
result_floor = num2 // num1 
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [24]:
result_mod = 13 % 2
print(result_mod)

result_mod %=2
print(result_mod)

1
1

##### Exponential

In [26]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [30]:
name = "Josias"
print(name)

Josias

##### print() <br>
<p>Don't forget about end=' '</p>

In [35]:
print("This is my first name: ", name)

print("This is my last name: ", name, end=' Guzman')

This is my first name:  Josias
This is my last name:  Josias Guzman

##### String Concatenation

In [45]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " +last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [46]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [62]:
# Input will always return a string 

name = input('What is your name?')
print('Nice to meet you, '+ name)

# age = int(input('What is your age?: '))
# add_age = age + 5
# print(add_age)

What is your name?john
Nice to meet you, john

In [55]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f" {age} is a great time in life!!!"
print(result_again)

What is your age? 12
You are 12 Josias and you are getting wiser!
 12 is a great time in life!!!

##### Old Way (python 2)

In [56]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [71]:
name = input("What is your name? ")
year = input("What year is your car? ")
color = input("What color is your car? " )
model = input("What model is your car? ")

print(f"{name}, your {year} {model} is {color}.")

What is your name? Josias
What year is your car? 2007
What color is your car? White
What model is your car? Honda Accord
Josias, your 2007 Honda Accord is White.

### If Statements

In [84]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0
# if num1 == num2:
#     print('Equal Values')
# else:
#     print('Not Equal')
if num2 > num1 or num3 > 0:
    print('This ran!')
elif num1 > num2:
    print('Num1 is greater')
else:
    print('You are here')

This ran!

##### 'is' keyword

In [86]:
# The "is" keyword is for checking the same object, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [87]:
#  Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [88]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here....')

a is NOT here....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [93]:
must_have = "Experice"

if "p" in must_have:
    print('True')
else: 
    print('False')

True

## Using 'and'/'or' with If Statements

In [96]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 ==  num_12 and num_13 - 7 == num_14:
    print("True and True")

# If with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

In [ ]:
 Elif Statements

In [102]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == "Brandon":
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Brandon
The name is Brandon

### Else Statements

In [ ]:
# see above

### For Loops

In [104]:
# Syntax:
# for counter in condition

name = "Josias Guzman"

for i in name:
    print(i)

J
o
s
i
a
s

G
u
z
m
a
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [106]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [107]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [108]:
for i in name:
    pass

##### Double For Loops

In [110]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [111]:
# Syntax:
# While keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [112]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [116]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
    
    num += 1

While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

While loop iteration: 1
For loop iteration:  0
For loop iteration:  1

While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

While loop iteration: 3
For loop iteration:  0
For loop iteration:  1

While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [117]:
# range(Start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [118]:
name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: Lord of the Rings
17

##### help()

In [121]:
# Use this function to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [132]:
# Check a variable to find out what object family (or data type) it belongs to
# isinstance(var, type)
num = 4.5
if isinstance(num, int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

4.5 is a float!

##### abs()

In [133]:
# |-5| = 5 

print(abs(-5))

5

### Try and Except

In [136]:
# Use this to log out graceful and useful error messages
# Does not stop the program! Neato!

try:
    input_num = int(input('Guess a number'))
    print('Your name is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number5
Your name is 5

### Lists

##### Declaring Lists

In [155]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', "bob", 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [156]:
# list_name[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [157]:
names.append('Josias')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Josias']

##### .insert()

In [158]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Josias']

##### .pop()

In [159]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in casee you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'bob', 'Nate', 'Josias']


##### .remove()

In [161]:
# Value to be removed rather than index
# names.remove('bob')
# print(names)

while 'Josias' in names:
    names.remove('Josias')
print(names)

['Max', 'Cindy', 'Devon', 'Nate']

##### del()

In [162]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon', 'Nate']

##### Concatenating Two Lists

In [166]:
# Will append two lists together, will NOT add the values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [172]:
# List can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [176]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)

Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [206]:
for i in range(1,10000):
    if i == 1000:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [194]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for a in range(1, 101):
    me = True
    for b in range(2, a):
        if a % b == 0:
            me = False
        if me == True:
            print(a)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [211]:
age = int(input("What is your age? "))

# If a person is younger than 18
if age <= 18:
    print('Kids')

# If a person is 18 to 65
if age >= 18 and age <= 65:
    print('Adults')
else:
  if age > 65:
    print('Seniors')

What is your age? 67
Seniors